@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navLinks {
    @apply capitalize hover:border-b-2 hover:pb-2 ease-out  transition-all duration-300;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.blur {
  background: linear-gradient(
    111deg,
    rgba(255, 255, 255, 0.24) 1.21%,
    rgba(196, 196, 196, 0.04) 100%
  );

  backdrop-filter: blur(15px);
}

.glass {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
}

.customShadow {
  box-shadow: 0px 7px 15px 0px rgba(181, 181, 181, 0.1),
    0px 28px 28px 0px rgba(181, 181, 181, 0.09),
    0px 62px 37px 0px rgba(181, 181, 181, 0.05),
    0px 110px 44px 0px rgba(181, 181, 181, 0.01),
    0px 172px 48px 0px rgba(181, 181, 181, 0);
}

body {
  background-color: #f6f6f6;
}

// *,
// body {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
//   font-family: "Inter", sans-serif;
// }
