@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SF-Pro-Text";
  src: url("./fonts/SF-Pro-Text-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@layer base {
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  .body {
    font-family: "SF-Pro-Text", "sans-serif";
  }

  input:-webkit-autofill,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    background-color: #fff !important;
    -webkit-box-shadow: 0 0 0px 1000px white inset;
  }

  html::-webkit-scrollbar {
    width: 10px;
  }

  html::-webkit-scrollbar-thumb {
    width: 7px;
    background-color: rgba(247, 115, 102, 1);
    border-radius: 50px;
  }

  li {
    list-style-type: disc;
    list-style-position: inside;
  }

  p {
    font-size: 14px;
  }

  select option {
    padding: 5px;
  }
}

@layer components {
  .center {
    @apply items-center justify-center;
  }

  .navLinks {
    @apply capitalize  hover:text-customRed-light ease-out  transition-all duration-75 text-[14px];
  }

  .activeindicator {
    @apply bg-[rgb(242,242,242)] shadow-md border-[1.2px] border-white rounded-lg;
  }

  .articleDisplayModal {
    @apply absolute p-2 rounded-md text-[10px] shadow-md flex-col flex bg-white;
  }

  .inputStyle {
    @apply outline-none border rounded-xl py-4 pl-5;
  }

  .container {
    @apply max-w-[1150px] mx-auto px-3 md:px-8 font-body relative z-50 mb-32;
  }

  .category__card__container {
    @apply px-8 md:px-4 py-10 md:py-8;
  }

  .category__card__text {
    @apply text-center text-[13px] md:text-[13px] text-customGray-light font-semibold mb-5 md:mb-4 w-full;
  }

  .category__card__sub {
    @apply text-[12px] md:text-[12px] text-customGray-semiDark w-full text-center;
  }

  .category__card__header {
    @apply text-xl md:text-xl font-bold mb-3 cursor-pointer capitalize w-full text-center;
  }

  .article__card__container {
    @apply px-4 py-4 scale-90 bg-black;
  }

  .article__card__header {
    @apply text-[12px] md:text-[16px] mb-1;
  }

  .article__container {
    @apply flex flex-col text-sm gap-1 md:gap-2 text-[0.875rem] leading-[2rem] text-[#3a3a3ab2] font-medium mb-8;
  }

  .article__container img {
    @apply my-[1rem] shadow-sm;
  }

  .article__container h2 {
    @apply text-[1.5rem] font-semibold;
  }

  .article__container ul {
    @apply w-[93%] md:w-[95%] my-2  md:my-0 mx-auto leading-7;
  }

  .article__container ul li {
    @apply list-outside md:list-inside;
  }

  .article header {
    @apply text-[#3A3A3AE5];
  }

  .article header span {
    @apply text-[#3a3a3a99];
  }

  .article__container blockquote {
    @apply w-full md:w-[95%] rounded-[0.75rem] px-4 pt-16 py-5 text-center md:py-[30px] md:pr-[7.5rem] md:pl-[10rem] inline-flex items-center relative max-w-full font-medium  my-4 md:m-[1.5rem] bg-[#f6f6f6] text-[13px] leading-7;
  }

  /* bg-[#f6f6f6] */

  .article__container blockquote::before {
    @apply absolute left-[43%] top-0  md:left-[5rem] md:top-[50%] md:translate-y-[-50%] translate-x-[-50%] w-[10px] md:w-[20px] h-auto;
  }

  .article__container u {
    @apply text-customRed-normal leading-[2px];
  }
}

.jodit li {
  margin-left: 0 !important;
}

.article__container blockquote::before {
  content: url("./assets//admin/icons//articles/idea.svg");
  /* position: absolute;
  left: 5rem;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: auto; */
}

.form::-webkit-scrollbar {
  width: 5px;
  border-top-right-radius: 500px;
  border-bottom-right-radius: 500px;
  overflow: hidden;
}

.form::-webkit-scrollbar-track {
  overflow: hidden;
  height: 80%;
}

.form::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: rgba(247, 115, 102, 1);
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
}

.blur {
  background: linear-gradient(
    111deg,
    rgba(255, 255, 255, 0.24) 1.21%,
    rgba(196, 196, 196, 0.04) 100%
  );

  backdrop-filter: blur(15px);
}

.glass {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
}

.glass__two {
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
  backdrop-filter: blur(30px);
  border: 1px solid rgba(0, 0, 0, 0.18);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
}

.glass__two::-webkit-scrollbar-thumb {
  width: 7px;
  background-color: rgba(247, 115, 102, 1);
  border-radius: 50px;
}

.glass__two::-webkit-scrollbar {
  width: 7px; /* Width of the scrollbar */
}

.customShadow {
  box-shadow: 0px 7px 15px 0px rgba(181, 181, 181, 0.1),
    0px 28px 28px 0px rgba(181, 181, 181, 0.09),
    0px 62px 37px 0px rgba(181, 181, 181, 0.05),
    0px 110px 44px 0px rgba(181, 181, 181, 0.01),
    0px 172px 48px 0px rgba(181, 181, 181, 0);
}

body {
  background-color: #f6f6f6;
  font-family: "Sf-Pro-Text";
}

.floating_container {
  width: 680px;
}

.entryarea {
  position: relative;
  line-height: 50px;
}

.float_input {
  width: 100%;
  font-size: 14px;
  line-height: 50px;
  border-radius: 8px;
  background: transparent;
  border: 1px solid #d9dce0;
  padding: 0 25px;
  position: relative;
  z-index: 1111;
}

.labelLine {
  position: absolute;
  top: 0;
  font-size: 10px;
  padding: 0 15px;
  margin: 0 20px;
  transition: 0.2s ease;
  background: transparent;
}

.evilEye {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  transition: 0.5s ease;
  z-index: 1111;
}

.float_input:focus,
.float_input:valid {
  border: 1px solid #d9dce0;
  outline: none;
}

.float_input:focus + .labelLine,
.float_input:valid + .labelLine,
.float_input:user-invalid + .labelLine {
  color: rgba(247, 115, 102, 1);
  height: 30px;
  line-height: 30px;
  padding: 0 12px;
  transform: translate(-15px, -16px) scale(0.88);
  background: white;
  z-index: 1111;
}

.spinner-icon {
  animation: spin 1s linear infinite;
  padding: 0 10px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
